.owl-carousel {
  .owl-nav {
    button {
      &.owl-prev, &.owl-next {
        font-size: $fs-24;
        color: $color-blue-0;
        background-color: $color-white-0;
        width: 44px;
        height: 44px;
        border-radius: 50%;
        box-shadow: 0 2px 8px 2px $color-black-1;
        position: absolute;
        top: 35%;
        &:hover {
          color: $color-blue-0;
          background-color: $color-white-0;
        }
      }
      &.owl-prev {
        left: -30px;
      }
      &.owl-next {
        right: -30px;
      }
    }
  }
}