//Kế thừa trực tiếp
// .bgImg {
//   background-position: center;
//   background-repeat: no-repeat;
//   background-size: cover;
// }

//Placeholder
%bgImg {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}