//Color
$color-black-0: #29303b;
$color-black-1: rgba(20, 23, 28, 0.1);
$color-gray-0: #686f7a;
$color-gray-1: #505763;
$color-gray-2: #a1a7b3;
$color-gray-3: #dedfe0;
$color-gray-6: #ccc;
$color-gray-4: rgba(20, 28, 23, 0.05);
$color-gray-5: rgba(20, 28, 23, 0.25);
$color-white-0: #fff;
$color-white-1: #dee2e6;
$color-white-2: #f7f8fa;
$color-white-cream: #f2f3f5;
$color-red-0: #ec5252;
$color-red-1: #521822;
$color-red-2: #e63757;
$color-purple: #6e1a52;
$color-blue-0: #007791;
$color-blue-1: #76c5d6;
$color-yellow-0: #f4c150;
$color-dark-0: #152e4d;
$color-dark-1: #061325;
$color-dark-2: #344050;
$color-dark-3: #9da9bb;
$color-dark-4: #0e1c2f;
$color-dark-5: #d8e2ef;
$color-dark-6: #132238;
$color-dark-7: #344050;


//Font-size
$fs-13: 13px;
$fs-15: 15px;
$fs-18: 18px;
$fs-24: 24px;
$fs-36: 36px;
$fs-40: 40px;
$fs-50: 50px;

//Font-weight
$fw-nm: normal;
$fw-600: 600;
$fw-700: 700;
$fw-900: 900;

//Line-height
$line-height-0: 1.43;

//Spacing
$mg-5: 5px;
$mg-15: 15px;
$mg-20: 20px;
$mg-25: 25px;
$mg-32: 32px;
$mg-40: 40px;
$pd-5: 5px;
$pd-10: 10px;
$pd-15: 15px;
$pd-20: 20px;
$pd-32: 32px;

//Border-radius
$border-radius: 2px;
$border-radius-0: 34px;

//Break points
$breakpoints: (
  "screen-1": 1350px,
  "extra-large": 1200px,
  "large": 992px,
  "medium": 768px,
  "small": 576px,
);
