.categories {
  margin-top: $mg-32;
  .categories__content {
    width: 90%;
    margin: auto;
    h2 {
      font-size: $fs-24;
    }
    .categories__item {
      padding: $pd-15;
      font-size: $fs-18;
      border: 1px solid $color-black-1;
      margin-bottom: $mg-15;
      &:hover {
        box-shadow: 0 0 1px 1px $color-black-1, 0 3px 1px 0 $color-black-1;
      }
    }
  }
}