.myNavBar {
  box-shadow: 0 0 1px 1px rgba(20, 23, 28, 0.1), 0 3px 1px 0 rgba(20 , 23, 28, 0.1);
  .myNavBar__left {
    display: flex;
    align-items: center;
    .navbar-brand {
      flex-grow: 1;
      text-align: center;
      margin-right: 0px;
      img {
        width: 110px;
      }
      .logo-black {
        display: inline-block;
      }
      .logo-white {
        display: none;
      }
    }
    .myNavBar__categories {
      flex-grow: 1;
      text-align: center;
      @include styleText($color-gray-1, $fs-13, $fw-nm);
      cursor: pointer;
      i {
        color: $color-gray-2;
      }
    }
    .myNavBar__form-search {
      flex-grow: 8;
      @include styleFormSearch($color-white-cream,$color-white-0,$color-gray-3, $color-gray-2);
    }
  }
  .myNavBar__right {
    .navbar-nav {
      justify-content: space-between;
      align-items: center;
      .nav-item {
        position: relative;
        padding: $pd-5 + 2 $pd-5;
        border-radius: $border-radius + 1;
        .nav-link {
          @include styleText($color-gray-1, $fs-13, $fw-nm);
        }
        &:hover {
          background-color: $color-gray-4;
          .overplay {
            display: block;
          }
        }
        .overplay {
          position: absolute;
          top: 60px;
          right: 0;
          z-index: 1;
          width: 330px;
          display: none;
          padding: $pd-20;
          background-color: $color-white-0;
          text-align: center;
          border: 1px solid $color-gray-4;
          box-shadow: 0 4px 16px $color-gray-5;
          &::before {
            content: "";
            display: block;
            width: 15px;
            height: 15px;
            background-color: $color-white-0;
            border-top: 1px solid $color-gray-4;
            border-left: 1px solid $color-gray-4;
            position: absolute;
            top: -8px;
            right: 10%;
            transform: rotate(45deg);
            
          }
        }
      }
      .myNavBar__cart {
        width: 50px;
        height: 50px;
        border-radius: 50%;
        line-height: 20px;
        .nav-link {
          font-size: $fs-18 + 2;
        }
      }
      .myNavBar__button {
        display: flex;
        &:hover {
          background-color: transparent;
        }
        .button--white {
          margin-right: $mg-5;
        }
        .button {
          //text không rớt dòng khi kích thước thẻ cha nhỏ lại
          white-space: nowrap;
        }
      }
    }
  }

  @media screen and (min-width: 1200px) and (max-width: 1355px) {
    .myNavBar__right {
      .navbar-nav {
        .nav-item {
          white-space: normal;
          .nav-link {
            font-size: $fs-13 - 2;
          }
          .overplay {
            white-space: normal;
          }
        }
      }
    }
    .myNavBar--reset {
      padding-left: 0;
    }
  }

  // max-width: 1200px
  @include reponsive("extra-large") {
    .business,.instructor {
      display: none;
    }
    .myNavBar__right {
      .navbar-nav {
        justify-content: space-around;
      }
    }
  }

  // max-width: 768px
  @include reponsive("medium") {
    .myNavBar__left {
      .myNavBar__categories, .myNavBar__form-search {
        display: none;
      }
    }
    .myNavBar__right {
      width: 50%;
      margin-left: auto;
      .navbar-nav {
        text-align: center;
        .myNavBar__button {
          display: none;
        }
      }
    }
  }
}

